<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ia.logistics.activity"
    android:versionCode="1"
    android:versionName="1.2.2" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.SEND_SMS" >
    </uses-permission>



    <application
        android:name="com.ia.logistics.comm.MyApplications"
        android:icon="@drawable/trucs46"
        android:theme="@style/AppTheme"
        android:label="@string/app_name" >
        <activity
            android:name="com.ia.logistics.activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ia.logistics.activity.SelectTruckActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateUnchanged|adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ia.logistics.activity.MainMenuActivity"
            android:exported="false"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ia.logistics.activity.MybillActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.ia.logistics.activity.MyAchievments"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.ia.logistics.activity.EntruckingActivity"
            android:exported="false"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.ia.logistics.activity.DepartActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.ia.logistics.activity.ArrivalActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="com.ia.logistics.activity.SignActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.ia.logistics.activity.ChoiseOfMyAchievments"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.ia.logistics.activity.Sign_ConfirmActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.ia.logistics.activity.DetailOfAchieve"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.ia.logistics.activity.ReceiveResult"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.ia.logistics.activity.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.ia.logistics.activity.SetActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.ia.logistics.activity.MoreInDetailOfAchieve"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.ia.logistics.activity.CyclometerActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.ia.logistics.activity.BarCodeActivity"
            android:screenOrientation="landscape" >
        </activity>

        <receiver
            android:name="com.ia.logistics.receiver.BootReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name="com.ia.logistics.service.MainLogicService" >
        </service>
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>
    </application>

</manifest>